@import url('https://fonts.googleapis.com/css?family=Questrial');
body, html, .container {
    /* background: #d8d8d8; */
    background-image: url("../images/gray.jpg");
    color: white;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
   }
.container.mainContent {
    min-width: 1160px;
    border: 1px solid rgb(22, 22, 29);
    /* background: radial-gradient(rgb(17, 190, 1) 15%, rgb(2, 163, 23) 30%, rgb(0, 73, 0) 80%); */
    background-size: cover;
    background-image: url("../images/blue.jpg");
    border-radius: 10px;
    overflow: hidden;
}

hr {
    border-top: 1px solid #888;
}

h1{
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgb(163, 162, 162), 
                0px 2px 0px #888, 
                0px 3px 0px #777, 
                0px 4px 0px #666, 
                0px 5px 0px #555, 
                0px 6px 0px #444, 
                0px 7px 0px #333, 
                0px 8px 7px #001135;
}
.title-header {
    font-family: 'Press Start 2P', cursive;
    font-size: 78px;
    font-weight: bold;
    text-align: center;
    cursor: default;
}

.info {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: 2px 2px 5px #000;
    margin-bottom: 10px;
}

.canvas {
    /* margin: 0 auto; */
    margin-left: 30px;
    margin-bottom: 5px;
    background-color: rgb(247, 245, 245);
    border: 1px solid #888;
    width: 1140px;
    height: 500px;
    background-image: url("../images/canvasbg.jpg");
    background-repeat: repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(70, 70, 70);
}

.cannon {
    width: 75px;
    height: 64px;
    background-image: url("../images/cannon.png");
    position: absolute;
    bottom: 90px;
    left: 60px;
    transition: position .4s linear;
}

.cannonball {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-image: url("../images/cannonball.png");
    position: absolute;
    bottom: 104px;
    left: 136px;
    transition: position .4s linear;
}

.hud {
    background-color: rgb(83, 150, 81);
    position: absolute;
    bottom: 30px;
    left: 50px;
    padding: 2px 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(70, 70, 70);
    width: 320px;
    border: 1px solid #fff;
}

.fireButton {
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    padding: 10px; 
    background-color: #881515;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    transition: 0.2s;
    border: solid 1px white;
}

.fireButton:hover:enabled {
    color: #fff;
    background-color: #ff0000;
    box-shadow: 5px 2px 10px rgb(70, 70, 70);
}

.angleInput, .powerInput, .game-id-field {
    font-size: 8px;
    font-weight: 800;
    line-height: 1;
    margin-right: 15px;
    height: 26px;
    margin: 0;
    padding: 0.5em 1em;
}

.input-group-addon {
    padding: 0;
    border: 0;
    background-color: rgb(83, 150, 81);
}

.angleSpan, .powerSpan {
    width: 125px;
}

.overlay:before {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    right:0;
    z-index: 10;
    width: 1140px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-left: 30px;
    background-color: rgba(0,0,0,0.8);
}

.opened:before {
    display: block;
}

.opened .startmenu {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 111px;
    left: 350px;
}

.startmenu {
    position:absolute;
    top: 50%;
    left: 50%;
    background: radial-gradient(rgb(17, 190, 1) 15%, rgb(2, 163, 23) 30%, rgb(0, 73, 0) 80%);
    width: 440px;
    height: 252px;    
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding: 1% 0;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, 500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

#start-game, #highscore, .join-game-group {
    width: 330px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    font-weight: 800;
    line-height: 1;
    background-color: #679b36;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    transition: 0.2s; 
    border: 1px solid white;
    border-radius: 10px;
    padding: 5% 0;
}

.join-game-group {
    display: inline-block;
    white-space: nowrap;
    vertical-align: middle;
}

#join-game {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: #679b36;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    transition: 0.2s; 
    margin-right: 15%;
    height: 32px;
}

#join-game, #game-id-field {
    display: inline-block;
    font-size: 12px;
    font-weight: 800;  
    border-radius: 10px;  
}

.input-group-addon.game-id-field-span {
    background-color: #679b36;
}

#game-id-field {
    margin-left: 10px;
    font-family: 'Open Sans', sans-serif;
    width: 150px;
    height: 32px;
}

#start-game:hover:enabled,
#join-game:hover:enabled,
#highscore:hover:enabled {
    color: #fff;
    background-color: #b9ff5d;
    box-shadow: 5px 2px 10px rgb(70, 70, 70);
}

#cv {
    position: relative;
    left: 27px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: rgb(247, 245, 245);
    border: 1px solid #888;
    width: 1140px;
    height: 500px;
    background-image: url("../images/canvasbg.jpg");
    background-repeat: repeat;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(70, 70, 70);
}
/*Efosa css for slidebar animation below----------------------------------------*/
.slideBar {
    -webkit-appearance: none;
    width: 600px;
    height: 10px;
    border-radius: 10px;
    border: solid 1px white;
    background: rgba(243, 16, 16, 0.616);
    outline: none;
    opacity: 0.9;
}
.slideBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 28px;
    border-radius: 10%;
    border: solid 1px white;
    background: rgb(243, 30, 30);
    cursor: pointer;
}
.slideBar2 {
    -webkit-appearance: none;
    width: 600px;
    height: 10px;
    border-radius: 10px;
    border: solid 1px white;
    background: #0f19a3;
    outline: none;
    opacity: 0.9;
}
.slideBar2::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 28px;
    border-radius: 10%;
    border: solid 1px white;
    background: #2432f8;
    cursor: pointer;
}
.slideBar:hover, .slideBar2:hover {
    opacity: 1;
    
}
.controls {
    background: rgba(11, 23, 53, 0.688);
    padding: 0px 15px 15px;
    margin: 0px 10px 10px;
    border-radius: 10px;
}
.playerTitle{
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: 2px 2px 5px #000;
}
hr {
    height: 1px;
    border-top: 1px solid white;
    margin: 0px;
    padding: 0px; 
}